.container_tr_table {
  background-color: rgba(0, 0, 0, 0.768);
  border: 3px solid blue;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

table > thead > tr > th {
  /* display: flex; */
  flex: 1;
}

table {
  border-spacing: 0;
}
