.container_tr_table {
  background-color: rgba(0, 0, 0, 0.768);
  border: 3px solid blue;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top {
  text-align: center;
}

table > thead > tr > th {
  flex: 1;
}
